::-webkit-scrollbar {
width: 3px;
height: 3px;
border-radius: 50px;
-webkit-width: 1px;
-moz-width: 1px;
background-color: rgba(0, 0, 0, 0.6);
}
::-webkit-scrollbar:active {
width: 10px;
}
::-webkit-scrollbar-thumb {
background-color: #31ff00;
border-radius: 2em;
}
::-webkit-scrollbar-thumb:active {
background-color: #2caa0d;
}
* {
scroll-behavior: smooth;
}
ul{
	list-style-type: none;
}
a {
text-decoration: none;
}
body {
background-image: url(../img/css-pattern-2.png);
background-size: 200px;
background-color: white;
position: relative;
}
.header {
position: fixed;
left: 0px;
width: 100%;
top: 0px;
height: 7vh;
background-color: #27b10b;
z-index: 120;
-webkit-transition: 1.5s;
transition: 1.5s;
-webkit-transform: rotateX(0deg);
transform: rotateX(0deg);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom: 2px solid rgba(177, 226, 214, 0.93);
}
#logo_back{
position: absolute;
width: 83px;
height: 73px;
border-radius: 100%;
top: 1px;
left: 4.8px;
background-color: #27b10b;
border-bottom: 2px solid rgba(177, 226, 214, 0.93);
border-bottom-width: 3px;
}
.logoimg {
width: 100%;
height: 100%;
}
.logo {
position: absolute;
width: 85px;
height: 76px;
top: 0px;
left: 4px;
background-color: transparent;
border: none;
}
.home {
padding: 0px;
width: 100px;
margin: 0px;
height: 50px; 
position: absolute;
top: 1vh;
left: 17vw;
background-color: transparent;
border: none;
font-size: 3vh;
font-family: Fahkwang;
color: #ffffff;
}
.hometext {
padding-left: 2px;
color: white;
}
.study {
position: absolute;
top: 1vh;
left: 26%;
background-color: transparent;
border: none;
font-size: 3vh;
font-family: Fahkwang;
color: #ffffff;
cursor: pointer;
}
.studyicon {
width: 4vh;
position: relative;
top: 5px;
}
.homeicon {
width: 2vw;
position: relative;
left: 0%;
top: 5px;
}
.more {
position: absolute;
top: 1.5vh;
left: 28vw;
background-color: transparent;
border: none;
font-size: 3vh;
font-family: Fahkwang;
color: #ffffff;
visibility: hidden;
}
.siteName{
width: 100px;
position: relative;
top: 0px;
left: 100px;
background: transparent;
cursor: default;
}
.s_N_a{
color: #10eefb;
font-size: 36px;
font-family: acme;
font-kerning: 0px;
}
.s_N_b{
color: #ff03bb;
font-size: 36px;
font-family: acme;
}
.siteName:hover .s_N_b{
color: #6b170e;
}
.help {
position: absolute;
top: 0.4vh;
left: 94vw;
background-color: transparent;
border: none;
width: 7vh;
height: 6vh;
}
.helpicon {
width: 2.9vw;
position: relative;
left: 0px;
top: 0px;
}
.support {
position: absolute;
top: 0.4vh;
left: 87.5vw;
background-color: transparent;
border: none;
width: 6.3vh;
height: 6vh;
}
.supporticon {
width: 100%;
height: 100%;
position: relative;
left: 0px;
top: 0px;
}
.boxstudy_wrapper {
position: absolute;
top: 7.2vh;
left: 7vw;
background-color: rgba(54, 115, 112, 0.5294117647058824);
width: 1241px;
height: 0vh;
border-radius: 9px;
-webkit-transition: 2s;
transition: 2s;
overflow: hidden;
}
.StdClose {
background-color: transparent;
border: none;
position: absolute;
top: -4px;
left: 97.7%;
font-size: 25px;
font-family: Fahkwang;
color: red;
z-index: 103;
cursor: pointer;
}
.phy_button_holder {
position: relative;
background-color: green;
width: 100%;
height: 60px;
}
.btnS1,
.btnS2,
.btnS3,
.btnS4,
.btnS5 {
background-color: green;
position: relative;
display: inline-flex;
top: -56px;
cursor: pointer;
border: none;
border-radius: 9px;
width: 130px;
height: 40px;
font-size: 20px;
font-family: Montserrat;
text-align: center;
-webkit-box-shadow: 1px 1px 11px 1px rgba(255, 245, 0, 0.46);
box-shadow: 1px 1px 11px 1px rgba(255, 245, 0, 0.46);
margin: 0px;
}
.btnS1,
.btnS2,
.btnS3 {
color: cornsilk;
}
.btnS4,
.btnS5 {
color: burlywood;
}
button:focus {
outline: 0px;
}
.btntxt {
position: relative;
width: 100%;
height: 100%;
}
.btntxt:hover {
background-color: rgba(95, 212, 201, 0.3);
border-radius: 9px;
border-width: 1px;
border-style: inset;
border-color: initial;
-o-border-image: initial;
border-image: initial;
}
.t_btntxt {
padding-top: 18px;
position: relative;
top: 16%;
-webkit-transition: 0s;
transition: 0s;
}
.phy1Box {
position: absolute;
top: 60px;
width: 100%;
height: 90%;
background-color: transparent;
visibility: hidden;
}
.phy2Box {
position: absolute;
top: 60px;
width: 100%;
height: 100%;
background-color: transparent;
visibility: visible;
}
/* phy2 content */
.b_cnt_one{
	position: relative;
	bottom: 0px;
	left: 0px;
	width: 413.7px;
	height: 546px;
	background-color: #156d96;
	visibility: visible;
	overflow: scroll;
}
/* list managment */

.tpc_list{
	list-style-image: url(../img/aero.png);
	list-style-position: outside;
	padding-top: 0px;
}
.tpclink{
	text-decoration: none;
	color: white;
}
.tpcs:hover .tpclink{
	color: orange;
	text-decoration: underline;
}
.tpclink:active{
	color: #E1F222;
}
.l_nm, .ll_nm, .lll_nm{
	list-style-image: url(../img/hash.png);
	font-size: 26px;
}
ul{
	padding-left: 30px;
	padding-top: 30px;
	font-size: 20px;
	color: white;
}
.b_cnt_one ul .b_name{
    background-color: #11cac2;
    font-size: 40px;
    width: 248px;
    border-radius: 20px;
    text-align: center;
    color: white;
    list-style-type: none;
}
.l_nm li{
	padding: 5px;
	margin: 3px;
	background-color: #0A434B;
	width: 180px;
}
.l_nm li:hover{
	background-color: #4A8492;
}
.b_cnt_two{
	width: 413.7px;
	height: 546px;
	position: relative;
	bottom: 547px;
	left: 413.7px;
	background-color: #156d96;
	visibility: visible;
	overflow: scroll;
}
.b_cnt_two ul .b_name{
    background-color: #11cac2;
    font-size: 40px;
    width: 248px;
    border-radius: 20px;
    text-align: center;
    color: white;
    list-style-type: none;
}
.ll_nm li{
	padding: 5px;
	margin: 3px;
	background-color: #0A434B;
	width: 180px;
}
.ll_nm li:hover{
	background-color: #4A8492;
}
.b_cnt_thr{
	width: 413.7px;
	height: 546px;
	position: relative;
	bottom: 1092px;
	left: 827px;
	background-color: #156d96;
	visibility: visible;
	overflow: scroll;
}
.b_cnt_thr ul .b_name{
    background-color: #11cac2;
    font-size: 40px;
    width: 248px;
    border-radius: 20px;
    text-align: center;
    color: white;
    list-style-type: none;
}
.lll_nm li{
	padding: 5px;
	margin: 3px;
	background-color: #0A434B;
	width: 180px;
}
.lll_nm li:hover{
	background-color: #4A8492;
}
/* list managment ends here */
.phy3Box {
position: absolute;
top: 60px;
width: 100%;
height: 90%;
background-color: transparent;
visibility: hidden;
}
.close_btn_animation_1 {
width: 8px;
height: 8px;
background-color: rgba(0, 20, 255, 0.53);
position: absolute;
left: 97.9%;
top: 12.4px;
border-radius: 50%;
z-index: 102;
-webkit-animation: resize1 1s infinite;
animation: resize1 1s infinite;
}
.close_btn_animation_2 {
width: 10px;
height: 10px;
background-color: rgba(0, 255, 20, 0.58);
position: absolute;
left: 97.7%;
top: 10.5px;
border-radius: 50%;
z-index: 101;
-webkit-animation: resize2 1s infinite;
animation: resize2 1s infinite;
}
/*animations*/
@-webkit-keyframes resize2 {
0% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 1;
}
50% {
-webkit-transform: scale(5);
transform: scale(5);
opacity: 0.5;
}
100% {
-webkit-transform: scale(6);
transform: scale(6);
opacity: 0;
}
}
@keyframes resize2 {
0% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 1;
}
50% {
-webkit-transform: scale(5);
transform: scale(5);
opacity: 0.5;
}
100% {
-webkit-transform: scale(6);
transform: scale(6);
opacity: 0;
}
}
@-webkit-keyframes resize1 {
0% {
-webkit-transform: scale(3);
transform: scale(3);
opacity: 1;
}
50% {
-webkit-transform: scale(4);
transform: scale(4);
opacity: 0.5;
}
100% {
-webkit-transform: scale(5);
transform: scale(5);
opacity: 0;
}
}
@keyframes resize1 {
0% {
-webkit-transform: scale(3);
transform: scale(3);
opacity: 1;
}
50% {
-webkit-transform: scale(4);
transform: scale(4);
opacity: 0.5;
}
100% {
-webkit-transform: scale(5);
transform: scale(5);
opacity: 0;
}
}
/* animationEnd */
.supportbox {
position: absolute;
left: 78vw;
top: 7vh;
z-index: 100;
width: 22vw;
height: 60vh;
background-color: white;
-webkit-box-shadow: 1px 1px 7px 9px rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 7px 9px rgba(0, 0, 0, 0.2);
visibility: hidden;
}
.suplink {
text-decoration: none;
font-size: 20px;
color: cadetblue;
line-height: 10px;
padding: 5px 0px 5px 0px;
text-align: left;
}
.suptext {
font-family: monospace;
background-color: red;
text-align: center;
}
.suptext:hover {
color: white;
background-color: black;
}
.supportbox a{
position: relative;
left: 18px;
}
.supportbox a:hover{
color: orange;
}
.supicon{
position: relative;
left: -8px;
width: 20px;
height: 20px;
}
.sup5{
width: 20px;
height: 15px;
}
.helpbox {
position: absolute;
left: 68vw;
top: 7vh;
z-index: 100;
width: 31vw;
height: 60vh;
border-left: rgba(0, 20, 255, 0.53) 10px solid;
background-color: white;
-webkit-box-shadow: 1px 1px 7px 9px rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 7px 9px rgba(0, 0, 0, 0.2);
visibility: hidden;
}
.helpbox .q_help{
font-size: 20px;
color: red;
background-color: gray;
}
.helpbox .a_help{
font-size: 20px;
color: green;
background-color: rgba(0, 0, 0, 0.2);
}
.helpbox .h_footer{
	position: relative;
	top: 27%;
	left: 2%;
	font-size: 10px;
	color: red;
}
/* laoding zone... */
.loader {
position: fixed;
top: 50%;
left: 50%;
background-color: white;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: 100%;
height: 120%;
z-index: 130;
}
.loader div {
position: absolute;
top: 40%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
z-index: 121;
}
.loader p {
color: #04c6a1;
z-index: 121;
font-size: 30px;
}
.loader div img {
width: 100px;
position: relative;
left: 50%;
padding-top: 50px;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
/* iframe container */
.c_hdr{
	width: 94vw;
	height: 2000px;
	border: none;
	position: relative;
	left: 30px;
	top: 43px;
	overflow: scroll;
	scroll-behavior: smooth;
}
/* contribute */
.cont{
position: fixed;
background-color: white;
width: 260px;
height: 257px;
top: 50%;
z-index: 125;
left: 99%;
box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.3);
border-top-right-radius: 10%;
border-top-left-radius: 0%;
border-bottom-left-radius: 10%;
border-bottom-right-radius: 10%;
transition: 1s;
}
.cont .p-f{
position: absolute;
top: 0px;
font-size: 20px;
width: 250px;
left: 18px;
text-align: left;
color: #11cac2;
}
.cont .p-f .k_m{
position: relative;
left: 0px;
font-size: 10px;
text-align: left;
font-family: monospace;
color: blue;
}
.cont .p-s{
position: relative;
top: 38px;
left: 2px;
text-decoration: underline;
color: green;
font-family: Montserrat;
}
.cont .c_i{
position: relative;
width: 170px;
top: 40px;
left: 15%;
border: 1px solid green;
}
.cont .c_opener{
position: relative;
top: 64px;
left: -104px;
right: 0px;
width: 167px;
height: 40px;
font-size: 30px;
background-color: green;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
transform: rotate(-90deg);
cursor: pointer;
}
.cont .c_opener span{
position: relative;
left: 0%;
top: 0px;
font-weight: 600;
color: orange;
font-family: fahkwang;
}
/* footer content */
.footer {
background-color: #1b2e3e;
width: 100%;
height: 600px;
padding: 0px;
margin: 0px;
z-index: 101;
position: relative;
top: 39px;
display: grid;
grid-template-rows: 200px 400px;
grid-template-columns: 100%;
}
.topFooter{
width: 100%;
position: relative;
left: 0%;
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 100%;
}
.fooLogo{
width: 200px;
height: 200px;
position: relative;
top: 0px;
left: 15%;
transform: rotate(0deg);
animation: rotate_logo 2s infinite linear;
}
@keyframes rotate_logo {
0%{
transform: rotateY(0deg);
}
100%{
transform: rotateY(360deg);
}
}
.footerContent_holder{
position: relative;
top: 0px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
}
.about{
font-family: Sawarabi Mincho;
text-align: center;
}
.about h1{
color: white;
}
.about p{
width: 150px;
position: relative;
left: 150px;
color: #656b6a;
}
.ownimg{
width: 100px;
position: relative;
left: 147px;
top: 50px;
}
.o_d{
position: relative;
}
.odLable{
position: relative;
color: gray;
top: 40px;
font-size: 15px;
font-family: Pacifico;
}
.odName{
position: relative;
color: orange;
top: 0px;
font-size: 36px;
font-family: 'Lemonada';
line-height: 43px;
}
.notes{
text-align: center;
font-family: Sawarabi Mincho;
}
.notes h1{
color: white;
}
.footer_facebook{
position: relative;
left: 20px;
top: 61px;
width: 60px;
}
.footer_google{
position: relative;
left: 40px;
top: 61px;
width: 60px;
}
.footer_youtube{
position: relative;
left: 60px;
top: 61px;
width: 60px;
}
.footer hr{
position: relative;
left: 321px;
width: 700px;
height: 0px;
}