/* for mobile */

  #header {
    width: 100vw;
    height: 5vh;
  }

  .logo {
    top: 20px;
    width: 100px;
    height: 80px;
  }

  .hometext {
    visibility: hidden;
  }

  .home {
    top: -4px;
  }

  .homeicon {
    width: 60px;
  }

  .studyicon {
    width: 60px;
  }

  .study {
    left: 210px;
    top: 15px;
  }

  .studyext {
    visibility: hidden;
  }

  .moreicon {
    width: 70px;
    height: 20px;
    top: -17px;
  }

  .moretxt {
    visibility: hidden;
  }

  .search_button {
    top: 0px;
    left: 70vw;
    width: 50px;
    height: 50px;
  }

  .support {
    left: 55vw;
    width: 80px;
    height: 70px;
    top: 6px;
  }

  .supportbox {
    left: 70vw;
    width: 280px;
    height: 400px;
  }

  .helpbox {
    left: 70vw;
    width: 280px;
    height: 400px;
  }

  .help {
    left: 56vw;
    width: 70px;
    height: 70px;
    top: 6px;
  }

  .boxstudy_wrapper {
    left: 100px;
  }

  #gs_cb50 {
    left: 257px;
    top: -70px;
  }

  #gs_id50 #gs_tti50 input {
    height: 27px !important;
    font-size: 14px;
  }
  #gs_tti50 input:selection .gsc-search-button{
    top: -60px !important;
  }

  .gsc-search-button,
  .gsc-search-button-v2 {
    top: -9px;
    left: -14px;
  }
